<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.relex.delivery.db.mapper.DishesFromBasketMapper">




    <insert id="addDishToBasket" parameterType="map">
        INSERT INTO dishesFromBasket (  user_id  ,  dish_id , count   )
        VALUES (  #{user_id}  , #{dish_id}, #{count}  )

    </insert>
    <delete id="deleteDishFromBasketBuUserIdDishId"
            parameterType="map" >
    DELETE FROM dishesFromBasket
    WHERE dish_id = #{dish_id} AND user_id = #{user_id};

</delete>
    <delete id="deleteDishesFromBasketByUserId"
            parameterType="map" >
    DELETE FROM dishesFromBasket
    WHERE user_id = #{user_id}  ;

</delete>
    <select id="updateDishCount"
            parameterType="map"
            resultType="ru.relex.delivery.db.model.OrderModel"
    >
 UPDATE dishesFromBasket
SET count = #{count} WHERE user_id = #{user_id} AND dish_id = #{dish_id};

    </select>

    <!--    <delete  id="deleteOrder"  parameterType="map">-->
    <!-- DELETE FROM dishesfromorder WHERE position_id = #{position_id}-->
    <!--    </delete >-->

</mapper>
