<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.relex.delivery.db.mapper.DishMapper">

    <select id="createDish"
            parameterType="ru.relex.delivery.db.model.DishModel"
            resultType="ru.relex.delivery.db.model.DishModel">
    INSERT INTO dishes (dish_name, dish_price, dish_calories, dish_cooking_time_minutes, dish_image, restaurant_id)
    VALUES (#{dishName}, #{dishPrice}, #{dishCalories}, #{dishCookingTimeMinutes}, #{dishImage}, #{restaurantId})
    RETURNING dish_id AS id
  </select>

    <insert id="saveDishType" parameterType="map">
    INSERT INTO dish_dish_types (dish_id, dish_type_id)
    VALUES (#{dishId}, #{dishType})
 </insert>

    <insert id="updateDishType" parameterType="map">
     UPDATE dish_dish_types
  SET dish_type_id = #{dishType} WHERE dish_id = #{dishId}

 </insert>

    <delete id="deleteDishById"
            parameterType="map" >
 DELETE FROM dishes
WHERE dish_id = #{dish_id};

    </delete>
    <select id="updateDishById"
            parameterType="ru.relex.delivery.db.model.UpdatableDishModel"
            resultType="ru.relex.delivery.db.model.DishModel"
    >
   UPDATE dishes SET
    dish_name =  #{dishName},
    dish_price =   #{dishPrice},
    dish_calories =   #{dishCalories},
    dish_cooking_time_minutes =  #{dishCookingTimeMinutes},
    dish_image =   #{dishImage}
    WHERE dish_id =  #{dishId}
    RETURNING dish_name AS dishName,
    dish_price AS dishPrice,
    dish_calories AS dishCalories,
    dish_cooking_time_minutes AS dishCookingTimeMinutes,
    dish_image AS dishImage,
    dish_id AS id,
    restaurant_id as restaurantId

     </select>
</mapper>
