<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.relex.delivery.db.mapper.UserMapper">
    <select id="createUser"
            parameterType="ru.relex.delivery.db.model.UserModel"
            resultType="ru.relex.delivery.db.model.UserModel">
        INSERT INTO users (first_name, last_name, phone, email, username, password, created_by, role_id)
        VALUES (#{firstName}, #{lastName}, #{phone}, #{email}, #{username}, #{password}, #{createdBy}, #{userRole.id})
        RETURNING user_id AS id, created_at
    </select>
</mapper>